<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="2.35.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.35.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="2.35.3.3" targetFramework="net45" />
  <package id="SimpleBrowser" version="0.5.12" targetFramework="net45" />
  <package id="SimpleBrowser.WebDriver" version="0.5.13" targetFramework="net45" />
  <package id="WebChauffeur" version="0.2.0.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>